* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.nav {
  background-color: white!important;
}

body {
  font-family: montserrat;
}

.icon {
  margin-right: 10px;
}

nav {
  background: white;
  height: 80px;
  width: 100%;
}

#nav-img {
  margin-left: 50px;
}

.logo {
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 100px!important;
  border: 1px solid;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li span {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li span:hover {
  color: white;
  background-color: rgb(80,255,64,0.5);
  border-radius: 30px;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
  }
  nav ul li span {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li span {
    font-size: 20px;
  }
  span:hover, span.active {
    background: none;
    color: #0082e6;
  }
  #check:checked~ul {
    left: 0;
  }
}