.introContainer {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
    color: white;
}

.button {
    padding: 10px!important;
    margin: 10px!important;
    width: 150px!important;
    border-radius: 10px!important;
    font-weight: bold!important;
    background-color: rgba(24, 100, 18, 0.7) !important;
}

.button:hover {
    background-color: rgb(101, 168, 99) !important;
}

.navOpen {
    display: none;
}

span {
    color: white;
}

@media screen and (max-width: 550px) {
    .centered h1 {
        font-size: 1.50em!important;
    }
    button {
        padding: 7.5px;
        margin: 7.5px;
    }
      .img{
        height: 250px!important;
        width: 100% !important;

    }
}

@media screen and (max-width: 450px) {
    .centered h1 {
        font-size: 1em!important;
    }
    .button {
        padding: 5px;
        margin: 5px;
    }
    .img{
        height: 200px!important;
        width: 100% !important;

    }
}

@media screen and (max-width: 360px) {
    .centered h1 {
        font-size: 1.25em!important;
    }
    .button {
        padding: 1px;
        margin: 1px;
        width: 130px!important;
    }
    .img{
        height: 250px!important;
        width: 100% !important;

    }
}