.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#rates-table {
  width: 80%;
  margin: 10px 10%;
}
 
.card h3 {
  color: green;
}

#rates-table td,#rates-table th {
  padding: 5px;
  border: 1px solid black;
}

#rates-table tr:nth-child(even) {
  background-color: white;
}

#rates-table tr:nth-child(odd) {
  background-color: #27911a;
}